*{
    font-family: 'Poppins', sans-serif;
}
/* ----------------------navbar----------------------- */
.nav-item {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #415123 !important;
}
/* ------------------jumbotron------------------------- */
.jumbotron{
    height: 650px;
    background-image: url(../img/hero-banner.jpg);
    background-size: cover;
}
.jumbotron .display-4{
    width:530px;
    overflow-wrap: normal;
    margin-top:62px;
    font-weight: bold;
    font-size: 48px;
    color: #333333;
    line-height: 60px;
}
.jumbotron .lead{
    width:479px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #69803E;
    line-height: 28px;
}
.jumbotron .btn{
    font-size: 16px !important;
    color: #415123;
    font-weight: 600;
    width: 152px;
    height: 56px;
    padding: 16px 23px;
    border: 1px solid #415123;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 24px;
}
.jumbotron .btn:hover{
    background-color: #415123 !important;
    border-color: #415123 !important;
}
/* -----------content------------------------ */
.title-content{
    font-weight: bold;
    font-size: 40px;
    color: #333333;
    margin-top: 90px;
}
.title-content-isi{
    font-size: 14px;
    color: #999999;
}
.shop-clarity{
    text-align: center;
}
.produk-clarity{
    box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.1) !important;
    border-radius: 10px;
    width: 360px;
    height: 514px;
    margin-top: 29px;
    margin-right: 20px;
}
.produk-clarity .produk{
    margin-top: 23px;
    margin-right: 23px;
    margin-left: 23px;
    height: 330px;
    background: #FFF9F2;
    border-radius: 10px;
}
.produk-clarity .produk img{
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding-top: 78px;
}
.produk-clarity .merek{
    margin-top: 24px;
    font-weight: 600;
    font-size: 18px;
    color: #333333;
    margin-left: 23px;
}
.produk-clarity .unit{
    font-weight: normal;
    font-size: 14px;
    color: #999999;
    margin-left: 23px;
}
.produk-clarity .harga{
    margin-top: -55px;
    margin-right: 23px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    float: right;
    color: #333333;
}
.produk-clarity .add-to-cart{
    background: #415123;
    color: #FFFFFF;
    border-radius: 10px;
    width: 92%;
    height: 55px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}
/* ----------are you----------- */
.shop-produk{
    margin-top: 29px;
    text-align: center;
    color: #FFFFFF;
}
.shop-produk h3{
    margin-top: 98px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
}
.shop-produk p{
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
}
.shop-produk .btn{
    width: 181px;
    height: 56px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
    line-height: 37px;  
    color: #FFFFFF;
}
.shop-produk .btn:hover{
    background-color: #415123 !important;
    border-color: #415123 !important;
}
.shop-produk .isi{
    position: relative;
    z-index: 1;
}
.shop-produk1{
    width: 50%;
    height: 355px;
    background-image: url(../img/young-people-crop.png);
    position: relative;
    background-size: cover;
    background-position: center;
}
.shop-produk1::after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
    background-color: rgba(65, 81, 35, 0.62);
	position: absolute;
	bottom: 0;
}
.shop-produk2{
    width: 50%;
    height: 355px;
    background-image: url(../img/elderly-crop.png);
    position: relative;
}
.shop-produk2::after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
    background-color: rgba(65, 81, 35, 0.62);
	position: absolute;
	bottom: 0;
}
/* -------------------choose-produk---------------------- */
.choose-produk{
    text-align: center;
}
.choose-produk-item{
    width: 360px;
    height: 240px;
    text-align: center;
    box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.1);
    border-radius: 10px;
    margin-top: 29px;
    margin-right: 20px;
}
.choose-produk-item .cover{
    margin-top: 23px;
    margin-bottom: 31px;
    margin-right: auto;
    margin-left:auto ;
    width: 70px;
    height: 70px;
    background-color: #415123;
    border-radius: 100%;
}
.cover img{
    padding-top: 18px;
}
.choose-produk-item h5{
    font-weight: 500;
    font-size: 20px;
    color: #333333;
    margin-bottom: 15px;
}
.choose-produk-item p{
    margin: 0 auto;
    width: 312px;
    overflow-wrap: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #999999;
}
/* ----------------testimonial------------------ */
.testimonial{
    text-align: center;
}
.testimonial-content{
    width: 780px;
    height: 243px;
    background-color: #FFFFFF;
    box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.1);
    border-radius: 10px;
    margin-bottom: 156px;
}
.testimonial-content .ratting{
    width: 100px;
    height: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 47px;
    margin-bottom: 16px;
}
.testimonial-content .pesan{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    width: 555px;
    overflow-wrap: normal;
    font-style: normal;
    font-weight: normal;    
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}
.testimonial-content .user{
    width: 152px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}
.testimonial-content .user .img-user{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #C4C4C4;
    margin-right: 10px;
    float: left;
}
.testimonial-content .user .name-user{
    font-style: normal;
    font-weight: 500px;
    font-size: 12px;
    overflow-wrap: normal;
    line-height: 18px;
    color: #333333;
    margin-bottom: 1px;
}
.testimonial-content .user .alamat-user{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #999999;
}
/* ------------------subscribe------------ */
.subscribe{
    background-image: url(../img/newsletter-crop.png);
    background-size: cover;
    background-position: center;
    height: 332px;
    width: 100%;
    text-align: center;
    position: relative;
}
.subscribe .isi{
    position: relative;
    z-index: 1;
}
.subscribe::after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
    background-color:rgba(65, 81, 35, 0.86);
	position: absolute;
	bottom: 0;
}
.subscribe .title-content{
    color: #FFFFFF;
}
.subscribe .title-content-isi{
    color: #FFFFFF;;
}
.subscribe .email{
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    width: 600px;
    height: 73px;
    border-radius: 8px;
    background-color: #FFFFFF;
}
.subscribe .email img{
    float:left;
    margin-top: 28px;
    margin-left: 27px;
    width: 3%;
}
.subscribe .email input{
    border: 0px !important;
    width: 360px !important;
    height: 45px !important;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
    display: inline;
    float: left;
}
.subscribe .email .btn-email{
    margin-top: 13px;
    margin-right: 16px;
    float: right;
    border-radius: 10px;
    width: 144px;
    height: 47px;
    background-color: #415123;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;;
}
/* --------------foter---------------------- */
footer{
    height: 350px;
    background-color:  #415123;;
}
.footer1{
    margin-left: 55px!important;
}
.footer1 .logo-footer{
    margin-top: 75px;
    margin-bottom: 9px;
}
.footer1 .deskripsi{
    width: 292px;
    overflow-wrap: normal;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
}
footer li {
    list-style: none;
}
.footer2{
    margin-left: 50px;
    margin-top: 75px;
    margin-bottom: 9px;
}
.footer3{
    margin-top: 75px;
    margin-bottom: 9px;
}
footer .title-footer{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #CBD8B4;
    margin-bottom: 32px;
    margin-left: 40px;
}
footer li{
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.footer4{
    text-align: left;
    margin-top: 75px;
    margin-bottom: 9px;
}
.footer4 .img-footer4{
    display: inline;
}
.telepon .isi{
    margin-left: 14px !important;
}
.footer4 .isi{
    margin-left: 19px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    display: inline-block;
}
footer .sosmed{
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: #FFFFFF;
    text-align: center;
    float: left;
    margin-right: 15px;
}
footer .sosmed img{
    width: 40%;
}
footer hr{
    margin-bottom: 20px;
    background-color: #69803E;
}
footer .copyright{
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #CBD8B4;
}
.copyright a {
    color: #CBD8B4;
}

/* -------mobile---------- */
@media (max-width: 767.98px) { 
    /* -----------navbar-------- */
    .navbar-brand img{
        width: 75px;
        height: 26px;
    }
    .nav-item {
        font-size: 12px;
        line-height: 18px;
    }
    /* ------jubotrom-------- */
    .jumbotron{
        text-align: center !important;
        height: 722px;
    }
    .jumbotron .display-4{
        width:309px;
        margin-top:100px;
        color: #333333;
        font-weight: bold;
        font-size: 28px;
        line-height: 40px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .jumbotron .lead{
        margin-left: auto;
        margin-right: auto;
        width:299px;
        overflow-wrap: normal;
        font-size: 12px;
        color: #69803E;
        line-height: 28px;
        text-align: center;
    }
    .jumbotron .btn{
        margin-right: 18px;
        font-size: 11px !important;
        width: 117px;
        height: 39px;
        padding: 11px 21px;  
    }
    /* -------content------------- */
    .title-content{
        font-size: 28px;
        margin-top:60px;
        text-align: center;
    }
    /* show clarity */
    .shop-clarity .title-content-isi{
        width: 227px;
        overflow-wrap: normal;
        font-size: 12px;
        margin: 0 auto;
        margin-bottom: 37px;
    }
    .produk-clarity{
        box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.1) !important;
        border-radius: 10px;
        width: 239px !important;
        height: 334px;
        margin-right: 50%;
        margin-left: 50%;
        margin-bottom: 20px;
    }
    .produk-clarity .produk{
        margin-top: 14px;
        margin-right: 14px;
        margin-left: 14px;
        width: 209px;
        height: 188px;
        background: #FFF9F2;
        border-radius: 10px;
    }
    .produk-clarity .produk img{
        margin-left:auto;
        margin-right:auto;
        width: 35%;
        display:block;
        padding-top: 45px;
    }
    .produk-clarity .merek{
        margin-top: 14px;
        font-size: 14px;
        margin-left: 14px;
        margin-bottom: 6px;
    }
    .produk-clarity .unit{
        font-size: 12px;
        margin-left: 14px;
    }
    .produk-clarity .harga{
        margin-top: -45px;
        margin-right: 14px;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
    }
    .produk-clarity .add-to-cart{
        width: 209px;
        height: 35px;
        font-size: 11px;
        display: inline-block;
        margin-left: 14px;
        margin-right: 14px;
    }
    /* shop produk */
    .shop-produk1{
        width: 100%;
    }
    .shop-produk2{
        width: 100%;
    }
    .shop-produk h3{
        font-size: 20px;
        margin-bottom: -13px;
    }
    .shop-produk p{
        width: 240px;
        overflow-wrap: normal;
        font-size: 11px;
        line-height: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .shop-produk .btn{
        width: 112px;
        height: 25px;
        border-radius: 10px;
        font-size: 11px;
        line-height: 10px;  
    }
    /* choose produk */
    .choose-produk .title-content{
        margin-left: auto;
        margin-right: auto;
        width: 181px;
        overflow-wrap: normal;
    }
    .choose-produk .title-content-isi{
        margin-left: auto;
        margin-right: auto;
        width: 286px;
        overflow-wrap: normal;
        font-size: 12px;
        line-height: 22px;
    }
    .choose-produk-item{
        margin-left: auto;
        margin-right: auto;
        width: 324px;
        height: 204px;
    }
    .choose-produk-item .cover{
        margin-top: 20px;
        margin-bottom: 26px;
        width: 60px;
        height: 60px;
    }
    .cover img{
        padding-top: 14.5px;
    }
    .choose-produk-item h5{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .choose-produk-item p{
        margin: 0 auto;
        width: 266px;
        font-size: 12px;
        line-height: 22px;
    }
    /* testimonial */
    .testimonial .title-content{
        width: 187px;
        overflow-wrap: normal;
        font-size: 28px;
        line-height: 64px;
        margin-left: auto;
        margin-right: auto;
    }
    .testimonial .title-content-isi{
        margin-left: auto;
        margin-right: auto;
        width: 225px;
        overflow-wrap: normal;
        font-size: 12px;
        line-height: 22px;
    }

    .testimonial-content{
        width: 325px;
        height: 256px;
    }
    .testimonial-content .ratting{
        width: 80px;
        height: 14px;
        margin-top: 44px;
    }
    .ratting img{
        width: 11.99px;
        height: 10.53px;
    }
    .testimonial-content .pesan{
        width: 275px;    
        font-size: 12px;
        line-height: 22px;
    }
    .testimonial-content .user{
        width: 152px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .testimonial-content .user .img-user{
        width: 40px;
        height: 40px;
    }
    .testimonial-content .user .name-user{
        font-size: 10px;
        line-height: 15px;
    }
    .testimonial-content .user .alamat-user{
        font-size: 8px;
        line-height: 12px;
    }
    /* ------------------subscribe------------ */
    .subscribe{
        height: 420px;
        width: 100%;
    }
    .subscribe .title-content{
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 216px;
        overflow-wrap: normal;
        font-size: 28px;
        line-height: 40px;
    }
    .subscribe .title-content-isi{
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        overflow-wrap: normal;
        font-size: 12px;
        line-height: 22px;
    }
    .subscribe .email{
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
        width: 325px;
        height: 40px;   
    }
    .subscribe .email img{
        float:left;
        margin-top: 18px;
        margin-left: 27px;
    }
    .subscribe .email input{
        border: 0px !important;
        width: 160px !important;
        height: 25px !important;
        margin-top: 9px;
        margin-left: 20px;
        font-size: 9px;
        line-height: 13px;  
    }
    .subscribe .email .btn-email{
        margin-top: 9px;
        margin-right: 6px;
        width: 78px;
        height: 25px;
        font-size: 9px;
        line-height: 13px;
    }
    /* -------------foter------------- */
    footer{
        height: 799px;
        text-align: center;
        margin: 0 auto;
    }
    footer .container{
        flex-direction: column;
    }
    .footer1 .logo-footer{
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center;
        margin-top: 68px;
        margin-bottom: 9px;
    }
    .footer1 .deskripsi{
        width: 292px;
        overflow-wrap: normal;
        font-size: 14px;
        line-height: 28px;
        color: #FFFFFF;
    }
    footer li {
        list-style: none;
    }
 }