*{
    font-family: 'Poppins', sans-serif;
}
/* ----------------------navbar----------------------- */
.nav-item {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #415123 !important;
}
/* ------------------jumbotron------------------------- */
.jumbotron{
    height: 650px;
    background-image: url(../img/hero-banner.jpg);
    background-size: cover;
}
.jumbotron .display-4{
    width:530px;
    height: 120px;
    padding-top:62px;
    padding-bottom: 14px;
    font-weight: bold;
    font-size: 48px;
    color: #333333;
    line-height: 60px;
}
.jumbotron .lead{
    width:479px;
    padding-top:58px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #69803E;
    line-height: 28px;
}
.jumbotron .btn{
    font-size: 16px !important;
    color: #415123;
    font-weight: 600;
    width: 152px;
    height: 56px;
    padding: 16px 23px;
    border: 1px solid #415123;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 24px;
}
.jumbotron .btn:hover{
    background-color: #415123 !important;
    border-color: #415123 !important;
}
/* -----------content------------------------ */
.shop-clarity{
    text-align: center;
}
.title-content{
    font-weight: bold;
    font-size: 40px;
    color: #333333;
    margin-top: 90px;
}
.shop-clarity p{
    font-size: 14px;
    color: #999999;

}
.produk-clarity{
    box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.1) !important;
    border-radius: 10px;
    height: 514px;
}
.produk-clarity .produk{
    margin-top: 23px;
    margin-right: 10px;
    margin-left: 10px;
    height: 330px;
    background: #FFF9F2;
    border-radius: 10px;
}
.produk-clarity .produk img{
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding-top: 78px;
}
.produk-clarity .merek{
    margin-top: 24px;
    font-weight: 600;
    font-size: 18px;
    color: #333333;
    margin-left: 23px;
}
.produk-clarity .unit{
    font-weight: normal;
    font-size: 14px;
    color: #999999;
    margin-left: 23px;
}
.produk-clarity .harga{
    margin-top: -55px;
    margin-right: 23px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    float: right;
    color: #333333;
}
.produk-clarity .add-to-cart{
    background: #415123;
    color: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    height: 55px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
}

/* -------mobile---------- */
@media (max-width: 767.98px) { 
    /* -----------navbar-------- */
    .navbar-brand img{
        width: 75px;
        height: 26px;
    }
    .nav-item {
        font-size: 12px;
        line-height: 18px;
    }
    /* ------jubotrom-------- */
    .jumbotron{
        text-align: center !important;
        height: 722px;
    }
    .jumbotron .display-4{
        width:309px;
        padding-top:50px;
        padding-bottom: 9px;
        color: #333333;
        font-weight: bold;
        font-size: 28px;
        line-height: 40px;
        text-align: center;
        margin: 0 auto !important;
    }
    .jumbotron .lead{
        margin: 0 auto !important;
        width:300px;
        padding-top:18px;
        font-size: 12px;
        color: #69803E;
        line-height: 28px;
        text-align: center;
    }
    .jumbotron .btn{
        margin-top: 18px;
        margin-right: 18px;
        font-size: 11px !important;
        width: 117px;
        height: 39px;
        padding: 11px 21px;  
    }
    /* -------content------------- */
    .title-content{
        font-size: 28px;
        margin-top:60px;
    }
    .shop-clarity p{
        width: 227px;
        height: 44px;
        font-size: 12px;
        margin: 0 auto;
        margin-bottom: 37px;
    }
    .produk-clarity{
        box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.1) !important;
        border-radius: 10px;
        width: 239px !important;
        height: 334px;
        margin-right: 50%;
        margin-left: 50%;
        margin-bottom: 60px;
    }
    .produk-clarity .produk{
        margin-top: 20px;
        margin-right: 2px;
        margin-left: 1px;
        width: 209px;
        height: 188px;
        background: #FFF9F2;
        border-radius: 10px;
    }
    .produk-clarity .produk img{
        margin-left:auto;
        margin-right:auto;
        width: 35%;
        display:block;
        padding-top: 45px;
    }
    .produk-clarity .merek{
        margin-top: 14px;
        font-size: 14px;
        margin-left: 1px;
        margin-bottom: 6px;
    }
    .produk-clarity .unit{
        font-size: 12px;
        margin-left: 1px;
    }
    .produk-clarity .harga{
        margin-top: -45px;
        margin-right: 3px;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
    }
    .produk-clarity .add-to-cart{
        width: 100%;
        height: 35px;
        font-size: 11px;
        display: inline-block;
    }
 }